.tales {
    width: 100%;
}

.carousel-inner{
    width:100%;
    min-height: 100% !important;
}

.item.active{
    height: 960px !important;
}

.content-adjust{
    padding-top: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 85px;
}
.fixed-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 85px;
}