<div ng-click="snCtrl.closeSidenav()" style="outline: none;" layout="row" class="section-title-container" layout-margin flex>
    <md-icon md-svg-icon="svgInventario"></md-icon>
    <p class="section-title">Contenedor - Inventario</p>
</div>

<div ng-click="snCtrl.closeSidenav()" style="outline: none;" layout="column" class="layoutPageHeader" layout-margin flex>
    <p>Contiene reportes relacionados con el movimiento de inventario, transferencias, despachos y recepciones</p>
    <md-divider></md-divider>
</div>

<div ng-click="snCtrl.closeSidenav()" style="outline: none;" layout="row" layout-margin layout-padding>
    
    <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Reporte ORV por Proveedor</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="pdCtrl.showAdvanced($event)">Ejecutar Reporte</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

    <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image 2</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

    <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image 2</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"><md-icon md-svg-icon="action:description" flex></md-icon></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

</div>

<div ng-click="snCtrl.closeSidenav()" style="outline: none;" layout="row" layout-margin layout-padding>

        <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image 1</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

    <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image 2</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

    <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image 2</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
</div>
