<div layout="row" class="section-title-container" layout-margin flex>
    <md-icon md-svg-icon="action:home"></md-icon>
    <p class="section-title">Bienvenido al Portal de Ambiente Informacional</p>
</div>

<div layout="column" class="layoutPageHeader" layout-margin flex>
    <p>Repositorio de reportes de la empresa. Viveres DeCandido.</p>
    <md-divider></md-divider>
</div>

<div layout="row" layout-margin layout-padding>
    <section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
        <md-button md-no-ink class="md-primary md-raised" href="../../portfolio.html">GO BACK TO PORTFOLIO PAGE</md-button>
    </section>
</div>